<launch>

    <rosparam file="$(find turn_htcbot)/config/htcbot_whthjc.yaml" command="load" />

    <!-- 是否调试 -->

    <arg name="is_debug" default="true" />
   <!-- 是否自动 -->
    <arg name="is_auto" default="true" />

    <!-- 全局参数定义 -->
    <!-- PS: 实车环境请勿注释 切记使用 false ; 离线环境配合 clock -->
    <param name="use_sim_time" value="$(arg is_debug)" type="bool"/>
    <!-- 公共基础路径 -->

    <!-- 是否开启建图 -->
    <arg name="is_mapping" default="false" />
    <!-- 是否开启导航 -->
    <arg name="is_navigation" default="true" />

    <!-- laser param -->
    <arg name="htc_lidar_mode"                  default="ls_C16" />
    <arg name="htc_lidar_scan_topic"            default="/scan" />
    <arg name="htc_lidar_frame"                 default="rslidar"/>
    <arg name="htc_lidar_point_topic"           default="/rslidar_points" />
    <arg name="htc_lidar_point_filter_topic"    default="/points_no_ground" />
    <arg name="htc_lidar_port"                  default="10.168.1.200" />
    <!-- vehicle param -->
    <arg name="htc_vehicle_mode"                default="yunle_jd01" />
    <!-- imu -->
    <arg name="htc_imu_mode"                    default="fdi_N100" />
    <arg name="htc_imu_frame"                   default="imu_link" />
    <arg name="htc_imu_topic"                   default="imu_raw"/>
    <!-- gnss param -->
    <arg name="htc_gnss_mode"                   default="Dove-482" />
    <!-- ultrasonic param -->
    <arg name="htc_ultrasonic_mode"             default="dyp_A05" />
    <!-- camera param -->
    <arg name="htc_camera_mode"                 default="Intel_D435i" />


    <!-- 发布 tf 坐标树 -->
    <node pkg="tf" type="static_transform_publisher"        name="world_2_map"             args="0 0 0 0 0 0 world map 100" />
    <node pkg="tf" type="static_transform_publisher"        name="base_2_lidar"            args="0.37 0 0.625 0 0 0 base_link rslidar 100" />

    <!-- ndt_param -->
    <arg name="tf_lidar_x"     default="0.37" />
    <arg name="tf_lidar_y"     default="0" />
    <arg name="tf_lidar_z"     default="0.625" />
    <arg name="tf_lidar_roll"  default="0" />
    <arg name="tf_lidar_pitch" default="0" />
    <arg name="tf_lidar_yaw"   default="0" />



    <!-- ndt_mapping -->
    <include file="$(find htcbot_mapping)/launch/ndt_mapping_pro.launch">
        <arg name="lidar_frame"         value="$(arg htc_lidar_frame)" />
        <arg name="pointcloud_topic"    value="$(arg htc_lidar_point_topic)" /> 
        <arg name="tf_lidar_x"          value="$(arg tf_lidar_x)" />
        <arg name="tf_lidar_y"          value="$(arg tf_lidar_y)" />
        <arg name="tf_lidar_z"          value="$(arg tf_lidar_z)" />
        <arg name="tf_lidar_roll"       value="$(arg tf_lidar_roll)" />
        <arg name="tf_lidar_pitch"      value="$(arg tf_lidar_pitch)" />
        <arg name="tf_lidar_yaw"        value="$(arg tf_lidar_yaw)" />
    </include>

    <!-- ndt_localizer -->
    <!-- <include if="$(arg is_navigation)" file="$(find htcbot_localizer)/launch/ndt_localizer_pro.launch"> -->


    <include if="$(arg is_navigation)" file="$(find htcbot_imu_odom_localizer)/launch/imu_odom_localizer_pro.launch">
        <arg name="switch_status" 		value="1" />
        <arg name="lidar_frame"         value="$(arg htc_lidar_frame)" />
        <arg name="pointcloud_topic"    value="$(arg htc_lidar_point_topic)" /> 
        <arg name="tf_lidar_x"          value="$(arg tf_lidar_x)" />
        <arg name="tf_lidar_y"          value="$(arg tf_lidar_y)" />
        <arg name="tf_lidar_z"          value="$(arg tf_lidar_z)" />
        <arg name="tf_lidar_roll"       value="$(arg tf_lidar_roll)" />
        <arg name="tf_lidar_pitch"      value="$(arg tf_lidar_pitch)" />
        <arg name="tf_lidar_yaw"        value="$(arg tf_lidar_yaw)" />
    </include>

    <!-- map_tools - loader -->
    <include if="$(arg is_navigation)" file="$(find map_tools)/launch/map_loader.launch">
        <arg name="margin" 				value="200" />
	    <arg name="update_interval"		value="1000" />
	    <arg name="update_offset"		value="10" />
    </include>

    <!-- map_tools - grid -->
    <include file="$(find map_tools)/launch/pcd_map_grid.launch"></include>

    <!-- gnss_tools trans -->
    <include file="$(find gnss_tools)/launch/trans_fix.launch">
        <arg name="pub_gps"   default="true" />
        <arg name="pub_utm"   default="true" />
        <arg name="pub_enu"   default="false" />
    </include>

    <!-- waypoint_tools -->
    <include if="$(arg is_mapping)" file="$(find waypoint_tools)/launch/waypoint_saver.launch">
        <arg name="is_filter"           value="true"/>
        <arg name="filter_distance"     value="0.1"/>
        <arg name="save_base"           value="true" />
        <arg name="save_gps"            value="true" />
        <arg name="save_utm"            value="false" />
        <arg name="save_enu"            value="false" />    
    </include>

   
    <!-- waypoint_loader -->
    <include if="$(arg is_navigation)" file="$(find waypoint_tools)/launch/waypoint_loader.launch">
    </include>

    <include if="$(arg is_navigation)" file="$(find points_tools)/launch/ring_ground_filter.launch">
    </include>


  
    <!-- auto_start -->
    <include if="$(arg is_auto)" file="$(find turn_htcbot)/launch/include/auto_start.launch">
    </include>

    <include unless="$(arg is_debug)" file="$(find htc_gateway)/launch/htc_cloud_gateway.launch">
        <param name="mqtt_cloud_cid" value="HTCBOT_A0004" />
        <param name="mqtt_cloud_broker" value="118.190.156.22" />
        <param name="mqtt_cloud_port" value="1883" />
        <param name="mqtt_cloud_username" value="htcbot" />
        <param name="mqtt_cloud_password" value="htcbot123456" />
        <param name="htcbot_vin" value="HTCBOT_A0004" />
        <param name="htcbot_vtype" value="jd01" />
    </include>

    <node pkg="rviz" type="rviz" name="Rviz" args="-d $(find htcbot_imu_odom_localizer)/rviz/test_imu_odom.rviz" required="true"/>

</launch>