<launch>

    <!-- IMU 惯导 -->
    <arg name="htc_imu_mode" default="fdi_N100" />
    <arg name="htc_imu_topic" default="imu"/>
    <arg name="htc_imu_frame" default="gyro_link" />
    <arg name="htc_imu_port" default="/dev/imu_n100" />

    <!-- 飞迪 N100 IMU 惯导 -->
    <include if="$(eval htc_imu_mode == 'fdi_N100')" file="$(find fdilink_ahrs)/launch/ahrs_data.launch">
        <arg name="imu_port"  value="$(arg htc_imu_port)"/>
        <arg name="imu_topic"  value="$(arg htc_imu_topic)"/>
        <arg name="imu_frame" value="$(arg htc_imu_frame)"/>
    </include>

</launch>