<launch>

	<arg name="margin" 					default="120" />
	<arg name="update_interval"			default="1000" />
	<arg name="update_offset"			default="10" />
	<arg name="static_topic"          	default="static_map" />
	<arg name="dynamic_topic"          	default="points_map" />

    <node pkg="map_tools" type="map_loader_node" name="map_loader_node" output="screen">
        <param name="margin" 			        value="$(arg margin)" />
		<param name="update_interval"          	value="$(arg update_interval)" />
		<param name="update_offset"          	value="$(arg update_offset)" />
		<param name="static_topic"          	value="$(arg static_topic)" />
		<param name="dynamic_topic"          	value="$(arg dynamic_topic)" />
    </node>

</launch>