<launch>

    <arg name="start_key" default="A0003" />
    <arg name="env_key" default="test" />
    <rosparam file="$(find turn_htcbot)/config/htcbot_$(arg start_key)_$(arg env_key).yaml" command="load" />

    <!-- 是否调试 -->
    <arg name="is_debug" default="false" />

    <!-- 是否自动 -->
    <arg name="is_auto" default="false" />

    <!-- 全局参数定义 -->
    <!-- PS: 实车环境请勿注释 切记使用 false ; 离线环境配合 clock -->
    <param name="use_sim_time" value="$(arg is_debug)" type="bool"/>
    <!-- 公共基础路径 -->

    <!-- 是否开启建图 -->
    <arg name="is_mapping" default="false" />
    <!-- 是否开启导航 -->
    <arg name="is_navigation" default="true" />

    <!-- 导航模式 Lidar GPS -->
    <arg name="htc_nav_mode" default="GNSS"  />

    <arg name="htc_car_mode"                    default="htcbot_yunle_jd01" />
    <!-- laser param -->
    <arg name="htc_lidar_mode"                  default="ls_C16_v2" />
    <arg name="htc_lidar_scan_topic"            default="/scan" />
    <arg name="htc_lidar_frame"                 default="rslidar"/>
    <arg name="htc_lidar_point_topic"           default="/rslidar_points" />
    <arg name="htc_lidar_point_filter_topic"    default="/points_no_ground" />
    <arg name="htc_lidar_port"                  default="10.168.1.200" />
    <!-- vehicle param -->
    <arg name="htc_vehicle_mode"                default="yunle_jd01" />
    <!-- imu -->
    <arg name="htc_imu_mode"                    default="fdi_N100" />
    <arg name="htc_imu_frame"                   default="imu_link" />
    <arg name="htc_imu_topic"                   default="imu_raw"/>
    <!-- gnss param -->
    <arg name="htc_gnss_mode"                   default="D300" />
    <arg name="htc_gnss_port"                   default="/dev/gps" />
    <arg name="htc_gnss_baud"                   default="115200" />
    <!-- ultrasonic param -->
    <arg name="htc_ultrasonic_mode"             default="dyp_A05" />
    <!-- camera param -->
    <arg name="htc_camera_mode"                 default="Intel_D435i" />

    <!-- sensor driver -->

    <!-- laser driver -->
    <include unless="$(arg is_debug)" file="$(find turn_htcbot)/launch/include/lidar_htc.launch">
        <arg name="htc_lidar_frame"             value="$(arg htc_lidar_frame)"/>
        <arg name="htc_lidar_mode"              value="$(arg htc_lidar_mode)" />
        <arg name="htc_lidar_point_topic"       value="$(arg htc_lidar_point_topic)" />
        <arg name="htc_lidar_port"              value="$(arg htc_lidar_port)" />
    </include>
    <!-- vehicle driver -->
    <include unless="$(arg is_debug)" file="$(find turn_htcbot)/launch/include/vehicle_htc.launch">
        <arg name="htc_vehicle_mode"            value="$(arg htc_vehicle_mode)" />
    </include>
    <!-- imu driver -->

    <!-- gnss driver -->
    <include unless="$(arg is_debug)" file="$(find turn_htcbot)/launch/include/gnss_htc.launch">
        <arg name="htc_gnss_mode"               value="$(arg htc_gnss_mode)" />
    </include>

    <!-- ultrasonic driver -->

    <!-- camera driver -->
    
    <!-- robot model -->
    <include file="$(find turn_htcbot)/launch/include/model_htc.launch">
        <arg name="htc_car_mode"                value="$(arg htc_car_mode)" />
    </include>

    <!-- ndt_param -->
    <arg name="tf_lidar_x"     default="0.37" />
    <arg name="tf_lidar_y"     default="0" />
    <arg name="tf_lidar_z"     default="0.625" />
    <arg name="tf_lidar_roll"  default="0" />
    <arg name="tf_lidar_pitch" default="0" />
    <arg name="tf_lidar_yaw"   default="0" />

    <!-- 节点 switch -->
    <!-- <arg name="mapping_status_switch"   default="0" />
    <arg name="localizer_status_switch"   default="0" /> -->

    <!-- ndt_mapping -->

    <!-- ndt_localizer -->
    <include if="$(arg is_navigation)" file="$(find htcbot_localizer)/launch/ndt_localizer_pro.launch">
        <arg name="switch_status" 		value="1" />
        <arg name="lidar_frame"         value="$(arg htc_lidar_frame)" />
        <arg name="pointcloud_topic"    value="$(arg htc_lidar_point_topic)" /> 
        <arg name="tf_lidar_x"          value="$(arg tf_lidar_x)" />
        <arg name="tf_lidar_y"          value="$(arg tf_lidar_y)" />
        <arg name="tf_lidar_z"          value="$(arg tf_lidar_z)" />
        <arg name="tf_lidar_roll"       value="$(arg tf_lidar_roll)" />
        <arg name="tf_lidar_pitch"      value="$(arg tf_lidar_pitch)" />
        <arg name="tf_lidar_yaw"        value="$(arg tf_lidar_yaw)" />
        <arg name="localizer_mode"		value="$(arg htc_nav_mode)" />
    </include>

    <!-- map_tools - loader -->
    <include if="$(arg is_navigation)" file="$(find map_tools)/launch/map_loader.launch">
        <arg name="margin" 				value="200" />
	    <arg name="update_interval"		value="1000" />
	    <arg name="update_offset"		value="10" />
    </include>

    <!-- map_tools - grid -->
    <include file="$(find map_tools)/launch/pcd_map_grid.launch"></include>

    <!-- gnss_tools trans -->
    <include file="$(find gnss_tools)/launch/trans_fix.launch">
        <arg name="mode_switch"     value="true" />
        <arg name="pub_gps"         value="true" />
        <arg name="pub_utm"         value="true" />
        <arg name="pub_enu"         value="false" />
    </include>

    <!-- waypoint_loader -->
    <include if="$(arg is_navigation)" file="$(find waypoint_tools)/launch/waypoint_loader.launch">
        <arg name="nav_mode"		value="$(arg htc_nav_mode)" />
    </include>

    <!-- gps 地图可视化 -->

    <node pkg="rviz" type="rviz" name="Rviz" args="-d $(find turn_htcbot)/rviz/test_localizer.rviz" required="true"/>

</launch>