<launch>

    <!-- <node pkg="tf" type="static_transform_publisher" name="base_2_lidar" args="0.37 0 0.625 0 0 0 base_link rslidar 100" />	 -->
	
    <arg name="is_debug"            			default="false" />

	<arg name="switch_to_exp" 				    default="0" />
    <arg name="method_type"                     default="1" />
	<arg name="voxel_leaf_size" 				default="1.5" />
	<arg name="step_size"					    default="0.1" />
	<arg name="max_iter"					    default="30" />
	<arg name="ndt_res" 			            default="1.0" />
	<arg name="trans_eps" 		                default="0.01" />
	<arg name="min_add_shift" 		            default="1.0" />
	<arg name="min_scan_range" 	                default="1.0" />
	<arg name="max_scan_range" 	                default="100" />
	<arg name="min_scan_height" 	            default="-0.2" />
	<arg name="max_scan_height" 	            default="10.0" />

	<arg name="use_odom" 	                    default="false" />
	<arg name="use_imu" 	                    default="false" />
	<arg name="use_gnss" 	                    default="false" />
	<arg name="use_vo" 	                        default="false" />

	<arg name="is_filter_add_map" 	            default="true" />
	<arg name="filter_res" 				        default="0.2"   />
	<arg name="is_sync_update_map" 				default="false"   />
	<arg name="is_remapping" 				    default="false"   />
	<arg name="is_limit_flat" 	                default="false" />

	<arg name="lidar_frame" 					default="rslidar" />
	<arg name="pointcloud_topic"				default="rslidar_points" />

    <arg name="tf_lidar_x"          			default="0" />
    <arg name="tf_lidar_y"          			default="0" />
	<arg name="tf_lidar_z"          			default="0" />
    <arg name="tf_lidar_roll"       			default="0" />
    <arg name="tf_lidar_pitch" 					default="0" />
    <arg name="tf_lidar_yaw"        			default="0" />

	<node pkg="htcbot_mapping" type="ndt_mapping_pro_node" name="ndt_mapping_pro_node" output="screen">
        <!-- Common Parameters -->
		<param name="switch_to_exp" 			value="$(arg switch_to_exp)" />	
		<param name="method_type" 				value="$(arg method_type)" />	
        <param name="voxel_leaf_size" 			value="$(arg voxel_leaf_size)" />	
		<param name="step_size" 				value="$(arg step_size)" />	
		<param name="max_iter" 				    value="$(arg max_iter)" />	
		<param name="ndt_res" 				    value="$(arg ndt_res)" />	
		<param name="trans_eps" 		        value="$(arg trans_eps)" />	
		<param name="min_add_shift" 		    value="$(arg min_add_shift)" />	
		<param name="min_scan_range" 	        value="$(arg min_scan_range)" />	
		<param name="max_scan_range" 	        value="$(arg max_scan_range)" />	
		<param name="min_scan_height" 	        value="$(arg min_scan_height)" />	
		<param name="max_scan_height" 	        value="$(arg max_scan_height)" />

		<param name="use_odom" 	                value="$(arg use_odom)" />	
		<param name="use_imu" 	                value="$(arg use_imu)" />	
		<param name="use_gnss" 	                value="$(arg use_gnss)" />	
		<param name="use_vo" 	                value="$(arg use_vo)" />
		<param name="is_filter_add_map" 	    value="$(arg is_filter_add_map)" />	
		<param name="filter_res" 	            value="$(arg filter_res)" />	
		<param name="is_sync_update_map" 	    value="$(arg is_sync_update_map)" />	
		<param name="is_remapping" 	            value="$(arg is_remapping)" />
        <param name="is_limit_flat" 			value="$(arg is_limit_flat)" />

		<param name="lidar_frame" 	            value="$(arg lidar_frame)" />
        <param name="pointcloud_topic" 			value="$(arg pointcloud_topic)" />

		<param name="tf_lidar_x"          		value="$(arg tf_lidar_x)" />
		<param name="tf_lidar_y"          		value="$(arg tf_lidar_y)" />
		<param name="tf_lidar_z"          		value="$(arg tf_lidar_z)" />
		<param name="tf_lidar_roll"       		value="$(arg tf_lidar_roll)" />
		<param name="tf_lidar_pitch" 				value="$(arg tf_lidar_pitch)" />
		<param name="tf_lidar_yaw"        		value="$(arg tf_lidar_yaw)" />

	</node>		

</launch>
